<.header>
  New Account
  <:subtitle>Use this form to manage account records in your database.</:subtitle>
</.header>

<.account_form changeset={@changeset} action={~p"/instances/#{@instance_id}/accounts"} />

<.back navigate={~p"/instances/#{@instance_id}/accounts"}>Back to accounts</.back>
