<.inputs_for :let={ad} field={f[:payload]}>
  <.input field={ad[:name]} label="Account Name" />
  <.input field={ad[:type]} label="Account Type" />
  <.input type="select" field={ad[:currency]} label="Currency" options={@options[:currencies]} />
</.inputs_for>