<.inputs_for :let={td} field={f[:payload]}>
  <.input type="select" field={td[:status]} label="status" options={@options[:states]} />
  <.inputs_for :let={entry} field={td[:entries]}>
    <.input
      type="select"
      phx-change="account_changed"
      field={entry[:account_id]}
      label="Account Id"
      options={@options[:accounts]}
    />
    <.input field={entry[:amount]} label="Amount" />
    <.input
      type="select"
      field={entry[:currency]}
      label="Currency"
      options={@options[:currencies]}
    />
  </.inputs_for>
</.inputs_for>
