<.header>
  Edit Instance {@instance.id}
  <:subtitle>Use this form to manage instance records in your database.</:subtitle>
</.header>

<.instance_form changeset={@changeset} action={~p"/instances/#{@instance}"} />

<.back navigate={~p"/instances"}>Back to instances</.back>
