<.header>
  <div class="flex items-center">
    <span class="bg-green-500 text-white p-1 mr-3">Edit Instance</span>
    <span>{@instance.address}</span>
  </div>
  <:subtitle>ID: {@instance.id}</:subtitle>
</.header>

<.instance_form changeset={@changeset} action={~p"/instances/#{@instance}"} />

<.back navigate={~p"/instances"}>Back to instances</.back>
