<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:address]} label="Address" />
  <.input field={f[:description]} label="Description" />

  <:actions>
    <.button class="bg-slate-400 hover:bg-green-500">Save Instance</.button>
  </:actions>
</.simple_form>
