<.header>
  New Instance
  <:subtitle>Use this form to manage instance records in your database.</:subtitle>
</.header>

<.instance_form changeset={@changeset} action={~p"/instances"} />

<.back navigate={~p"/instances"}>Back to instances</.back>
