<.header>
  <div class="flex items-center">
    <span class="bg-green-500 text-white p-1 mr-3">New Instance</span>
  </div>
</.header>

<.instance_form changeset={@changeset} action={~p"/instances"} />

<.back navigate={~p"/instances"}>Back to instances</.back>
